<html>
  <head>
    <title><%= name %> - created by Appsta</title>
  </head>
  <body>
    <h1><%= name %> - created by Appsta</h1>

    <p>
      Your Rails application has been built by Appsta, and is now ready for development!
    </p>

    <p>
      The following has been setup in your application:
      <br />
      <ul>
        <li>jQuery</li>
        <li>Shoulda</li>
        <li>Mocha</li>
        <li>Cucumber</li>
        <li>Hpricot</li>
        <li>Authlogic</li>
      </ul>
    </p>
  </body>
</html>